# build directories
.idea
/cmake-build-debug
/build
/cmake-build-release
.vscode/

# executables
*.exe
*.elf

# calcutaed data and plots

Hamilton*.txt
EV*.txt
benchmarkResults.txt

results/oldData/*
results/old/*
results/knowngood/*

results/QT_stats/generally_good_fit/*
results/QT_stats/good_fit_for_N_mod_4/*
results/QT_stats/knowngood/*
results/QT_stats/knowngood_2/*

results/QT_stats/*
!results/QT_stats/data_placeholder.txt

results/*.txt
results/*.png
!results/data_placeholder.txt

results/*/*.txt
results/*/*.png

results/*/data/*.txt
results/*/data/*.png
!results/*/data/data_placeholder.txt

results/*/data/step_size_data/*.txt
results/*/data/step_size_data/*.png
!results/*/data/step_size_data/data_placeholder.txt

results/*/data/spin_gap_data/*.txt
results/*/data/spin_gap_data/*.png
!results/*/data/spin_gap_data/data_placeholder.txt

results/*/data/excitation_energies_data/*.txt
results/*/data/excitation_energies_data/*.png
!results/*/data/excitation_energies_data/data_placeholder.txt

results/3DData/*
#results/3DData/*.png
#results/3DData/*.gif
#results/3DData/*/*/*.txt
!results/3DData/*/*/dummyFile.txt
#results/3DData/knowngood/

