# build directories
.idea
/cmake-build-debug
/build
/cmake-build-release
.vscode/

# executables
*.exe
*.elf

# calcutaed data and plots

Hamilton*.txt
EV*.txt
benchmarkResults.txt

results/oldData/
results/QT_stats/

results/*.txt
results/*.png
!results/data_placeholder.txt

results/*/*.png
results/*/data/*.txt
!results/*/data/data_placeholder.txt

!results/3DData/
results/3DData/*.png
results/3DData/*.gif
results/3DData/*/*/*.txt
!results/3DData/*/*/dummyFile.txt
results/3DData/knowngood/

